<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.starterkit.rcp.Perspective"
            id="com.starterKit.RCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.starterkit.rcp.views.LeftView"
            id="com.starterKit.RCP.view"
            name="Books"
            restorable="true">
      </view>
      <view
            class="com.starterkit.rcp.views.PropertiesView"
            id="com.starterKit.RCP.propertiesView"
            name="propertiesVies"
            restorable="true">
      </view>
      <view
            class="com.starterkit.rcp.views.Actions"
            id="com.starterKit.RCP.ActionsView"
            name="Actions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.starterKit.RCP.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
         <view
               id="com.starterKit.RCP.propertiesView"
               minimized="false"
               ratio="0.55f"
               relationship="right"
               relative="com.starterKit.RCP.view">
         </view>
         <view
               id="com.starterKit.RCP.ActionsView"
               minimized="false"
               ratio="0.8f"
               relationship="bottom"
               relative="com.starterKit.RCP.propertiesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
